---
layout: default
---

<div class="featured-post">

  {% for post in site.categories.features %}

    <div class="featured--background" style="background-image: url({{ post['Main Image'] }})">
      <div class="featured--article-details">
        <h3 class="featured--article-title">{{ post.title }}</h4>
        <small class="article-category">{{ post.categories.first }}</small>
        <p class="featured--blurb">
          {{ post.Blurb }}
        </p>
        <a href="{{ post.url | remove: ".html" }}" class="view-button">View Post</a>
      </div>
    </div>



    {% endfor %}

</div>

<div class="feed-wrapper">

  {% for post in site.posts %}

      <a href="{{ post.url | remove: ".html" }}" class="article-block">
          <img src="{{ post['Main Image'] }}" class="article-image">
          <div class="article-details">
            <h3 class="article-title">{{ post.title }}</h4>
            <small class="article-category">{{ post.categories.first }}</small>
          </div>
      </a>

    {% endfor %}

</div>
