<div class="newsletter">
  <h4>Subscribe to our Newsletter</h4>
  <form id="subForm" class="js-cm-form" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="A61C50BEC994754B1D79C5819EC1255CC8D92885A57630C109477C93B0E96F89C57238EC2655EA8BDE0902A3AC3E87CA88FFF25183CCBE8A9CEBBDEFC32CFD8D">
    <input id="fieldEmail" class="js-cm-email-input" name="cm-gnhhi-gnhhi" type="email" placeholder="Email Address" required />
    <button class="js-cm-submit-button button" type="submit">Subscribe</button>
  </form>
  <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
</div>
