@font-face {
    font-family: 'Favorit';
    src: url("../assets/webfonts/Favorit_Regular.otf");
    font-weight: 400;
}

@mixin small {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin medium {
  @media (max-width: 1100px) {
    @content;
  }
}


@mixin large {
  @media (max-width: 1500px) {
    @content;
  }
}

// BASE Styles =================================================================

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body {
  padding: 0;
  margin: 0;
  margin-top: -30px;
  font-family: 'Favorit', sans-serif;
  font-weight: 400;
  color: black;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;

  @include large {
      font-size: 14px;
    }
}

h1 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  font-size: 3rem;
}

a {
  text-decoration: none;
  color: black;
}

input, textarea {
  font-family: 'Favorit', sans-serif;
}

// Navs ========================================================================

#masthead {

  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 120px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;

  @include small {
      top: auto;
      bottom: 0;
      width: 100vw;
      height: 60px;
      justify-content: space-between;
      padding-left: 30px;
    }

  h1 {
    color: white;
    font-family: serif;
    font-weight: 400;
    font-size: 66px;
    transform: rotate(270deg);
    letter-spacing: -2px;
    text-transform: none;

    @include small {
        transform: none;
        font-size: 1.6rem;
        letter-spacing: -0.5px;
      }
  }
}

p {
  font-size: 20px;
  line-height: 1.4;
}

header {
  position: fixed;
  top: 30px;
  left: 30px;
  width: calc(100vw - 180px);
  display: flex;
  justify-content: space-between;

  @include small {
      display: none;
    }

  .main-nav a {
    margin-right: 20px;
  }

  .social-nav a {
    margin-left: 20px;
  }
}

footer {
  position: fixed;
  bottom: 30px;
  left: 30px;

  @include small {
      display: none;
    }

  a {
    margin-right: 20px;
  }
}

header,
footer {
  a {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: white;
  }
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  height: 5px;
}

// Feed and Articles ===========================================================

.feed-wrapper {
  max-width: calc(100vw);
  padding: 200px 150px;

  @include large {
      padding: 100px 55px;
    }
}

.article-block {
  display: inline-block;
  margin-right: 10%;
  margin-bottom: 10%;
  max-width: 600px;

  @include large {
      max-width: 400px;
    }
}

.article-block:nth-child(3n+0) {
  max-width: 800px;

  @include large {
      max-width: 500px;
    }
}

.article-image {
  width: 100%;
}

.article-details {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 30px;

  .article-title {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 400;
    max-width: 60%;
  }
}

.article-category {
  font-size: 1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

// featured

.featured--background {
  width: 100vw;
  height: 104vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.featured--article-details {
  max-width: 1000px;
  color: white;
}

.featured--article-title {
  color: white;
  font-weight: 400;
  font-size: 96px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 90px;
  margin-bottom: 30px;
}

.featured--blurb {
  font-family: serif;
  letter-spacing: -1px;
  max-width: 600px;
}

.view-button {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 20px 40px;
  border: 1px solid white;
  display: inline-block;
  margin-top: 30px;
  transition: 0.2s;
}

.view-button:hover {
  background-color: white;
  color: black;
}

// Article Layout  =============================================================

.post-wrapper {
  max-width: 1200px;
  margin-top: 60px;
  margin-left: 10vw;
}

.article-main-img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-title {
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20vh;
  max-width: 900px;
}

.post-meta {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.5px;
  display: inline;
  margin-right: 1.4rem;
}

.post-wrapper {
  strong {
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    max-width: 800px;
    margin-bottom: 5rem;
    margin-top: 5rem;
  }

  p {
    max-width: 800px;
    margin-bottom: 5rem;
  }
}

.latest-articles {
  margin-top: 100px;
  margin-bottom: 300px;
  margin-left: 10vw;

  h2 {
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .more-article-tile {
    display: inline-block;
    width: 30%;
    max-width: 400px;
    margin-right: 3rem;
  }

  .small-article-img {
    height: 400px;
    width: 100%;
    background-size: cover;
  }

  .small-article-details {
    width: 60%;
  }
}

code {
  font-family: 'Favorit', sans-serif;
  font-size: 0.6rem;
  display: inline-block;
  max-width: 600px;
  margin-top: 20px;
  line-height: 1rem;
}

// Gallery Layout  =============================================================

.gallery-details {
  height: 80vh;
  max-width: 600px;
  position: fixed;
  top: 5vw;
  left: 4vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h1 {
    margin-top: 0;
  }
}

.gallery-credits {
  p {
    font-size: 1rem;
  }

  span {
    font-family: serif;
    margin-left: 40px;
    font-size: 1.2rem;
  }
}

.gallery-content {
  max-width: 50vw;
  margin-right: 230px;
  margin-left: auto;
  margin-top: 5vw;
  padding-bottom: 5vw;

  img {
    width: 100%;
  }
}


// Static Pages  ===============================================================

.static-page {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20vh;
}

input,
textarea {
  display: block;
  width: calc(100% - 180px);
  outline: none;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}

textarea {
  height: 300px;
}

input::placeholder,
textarea::placeholder {
  color: black;
}

button {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.button {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.about-details {
  display: flex;
  max-width: 700px;
  flex-wrap: wrap;
  align-items: flex-start;

  .about-person {
    min-width: 210px;
    margin-bottom: 20px;

    p {
      margin-top: 5px;
      font-size: 1.5rem;
    }
  }
}









// fin  ========================================================================
