---
layout: default
---

<section class="feed-wrapper">

    <h1>{{ page.tags.first }}</h1>

    {% for post in site.categories[page.tags.first] %}

      <a href="{{ post.url | remove: ".html" }}" class="article-block">
        <img src="{{ post['Main Image'] }}" class="article-image">
          <div class="article-details">
            <h3 class="article-title">{{ post.title }}</h3>
            <small class="article-category">{{ post.tags.first }}</small>
          </div>
      </a>

    {% endfor %}

</section>
